@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800;900&display=swap');


body{
    background-color: #7885a0;
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    width: 100%;
    padding: 0;
}
/*** menú ***/
header{
    position: absolute;
    width: 100%;
    background-color: #333A56;
}
.nav-bar {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
    width: 20%;
}
.logo img{
    width: 65px;
    height: 65px;
    padding-left: 100px;
}
.nav-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
}
.nav-menu ul{
    list-style: none;
    display: inline-flex;
    margin:0;


}
.nav-menu  ul li {
    display: flex;
    float: right;
    margin:  5px;
}
.item-menu a{

    color: #F7F5E6;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
}
.item-menu a:hover {
    background-color: #ddd;
    color: #333A56;
    font-weight: 500;
}
.item-menu a.active{
    background-color: #F7F5E6;
    color: #333A56;
    font-weight: 500;
}
/** Fin de menu **/
/** Contenido **/
.contenedor{
    display: flex;
    width: 100%;
}
.espacio1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width:45%;
    margin-top: 175px;
    padding: 5px;
}
.espacio2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin-top: 175px;
    padding: 5px;
}
.espacio2 iframe{
    z-index: -1;
    position: relative;
    display: flex;
    width: 500px;
}
.espacio2 label{
    z-index: 1;
}
.espacio2 label span {
    z-index: 1;
    background-color: #7885a0;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    margin-right: -50px;
    margin-top: -25px;
    border: #52658f 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.espacio2 span p{
    z-index: 1;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #2a2f46;
}

/** Fin de parte 1 **/
/*  Area del typing  */

.texto1{
    position: absolute;
    display: block;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.contenedort p {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
    color: #e8e8ee;
}

.contenedort p span.typed-text {
    font-weight: normal;
    color: #333A56;
}

.contenedort p span.cursor {
    display: inline-block;
    background-color: #e8e8ee;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.contenedort p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {background-color: #e8e8ee;}
    49% {background-color: #e8e8ee;}
    50% {background-color: transparent;}
    99% {background-color: transparent;}
    100% {background-color: #e8e8ee;}
}
/** Fin de area de typing **/
/** Parte de resumen **/
.parte-resumen2{
    display: flex;
    margin:20px 0;
}
.resumen-bio{
    display: block;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 10px 0;
    text-align: center;
}
.resumen-bio p{
    display: block;
    margin: 0;
    font-size: 35px;
    font-weight: 500;
    color: #333A56;
}

.skills1, .skills2{
    display: flex;
    width: 50%;
}
.skills2{
    right: 0;
}
.skills{
    list-style: none;
    font-size: 30px;
    font-weight: 500;
    color: #333A56;
}

/** Fin de parte de resumen **/
/** Responsive **/