@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800;900&display=swap');


body{
    display: flex;
    background-color: #52658f;
    font-family: 'Montserrat',sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}
/*** menú ***/
header{
    position: absolute;
    width: 100%;
    background-color: #333A56;

}
.nav-bar {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 5px;
}
.logo{
    display: flex;
    align-items: center;
    width: 20%;
}
.logo img{
    width: 60px;
    height: 60px;
    padding: 0 20px;
}
.nav-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
}
.nav-menu ul{
    list-style: none;
    display: inline-flex;
    margin:0;


}

.nav-menu  ul li {
    display: flex;
    float: right;
    margin:  5px;
}


.item-menu a{

    color: #F7F5E6;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
}
.item-menu a:hover {
    background-color: #ddd;
    color: #333A56;
    font-weight: 500;
}
.item-menu a.active{
    background-color: #F7F5E6;
    color: #333A56;
    font-weight: 500;
}
/** Fin de menu **/
/** Contenido **/
.contenedor{
    display: flex;
    width: 100%;
}
.espacio1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width:55%;
    margin-top: 70px;
    padding: 5px;


}
.espacio2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 45%;
    margin-top: 70px;
    padding: 5px;


}

/** Fin de parte 1 **/
/** Responsive **/
@media screen and (max-width: 720px) {
    /*  Menu  */

.espacio1{
    margin-left: 0 ;

}
}